
	<div class="form-container">
		<p class="form-header">User Profile</p>
		<form ng-submit='updateUser()'>
			<label>Username:</label>
				<input type="text" name="updatedUsername" ng-model='user.updatedUsername'><br>
			<label>Email:</label>
				<input type="text" name="updatedEmail" ng-model='user.updatedEmail'><br>
			<label>Password:</label>
				<input type="password" name="password" ng-model='user.password'>
				<input type="submit" value="Save">
		</form>


		{{user}}
	</div>
	<form ng-submit='deleteUser()'>
		<input type="submit" value="Delete User">
	</form>
	{{error}}
